* {
    padding: 0;
    margin: 0;
}

body{
    background: rgba(0, 0, 0, 0.719);

}

#contain{
    height: 100vh;
    background-image: url(back3.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    height: 1500px;
    position: absolute;
    background-size: cover;
    color: rgba(0, 0, 0, 0.575);

}

.main{
    width: 1300px;
    height: 250px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,  rgba(0,0,0,0.5)50%),url(badge.png);
    padding: 20px;
    margin: 5px;
    border: 15px;
}
.logo {
    font-size: 50px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    padding: auto;
    color: rgba(234, 250, 215, 0.925);
}

.logo a{
    color: bisque;
    text-decoration-line: none;
}

#item {
    padding: 5px;
    margin: 80px;
    border-radius: 50px;
    min-height: 200px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.534);
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

#item div{
    height: 250;
    width: 300;
    margin: 20px;
    margin-top: 50px;
}
img{
    border-radius: 20px;
    justify-content: center;
    height: 250px;
    width: 250;
}

p{
    margin: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: orangered;
}
.btn1{
    width: 70px;
    border-radius: 5px;
    height: 30px;
    outline: auto;
    font-weight: bolder;
    opacity: initial;
    cursor: pointer;

}

.btn1:hover{
    color: orangered;
    transition: 0.5s;
}


.btn2{
    width: 70px;
    border-radius: 5px;
    height: 30px;
    outline: auto;
    font-weight: bolder;
    cursor: pointer;
}
.btn2:hover{
    color: orangered;
    transition: 0.5s;
}

.icon{
    width: 60vw;
    font-weight: bolder;
    float: right;
    margin: 0;
}

ul{
    list-style: none;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

ul a{
    text-decoration: none;
    color: white;
    padding-right: 80px;
    font-size: 20px;
}
